@font-face {
  font-family: 'music';
  src:  url('../fonts/music.eot?of5xr6');
  src:  url('../fonts/music.eot?of5xr6#iefix') format('embedded-opentype'),
    url('../fonts/music.ttf?of5xr6') format('truetype'),
    url('../fonts/music.woff?of5xr6') format('woff'),
    url('../fonts/music.svg?of5xr6#music') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'music' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-backgray:before {
  content: "\e900";
  color: #666;
}
.icon-back:before {
  content: "\e901";
  color: #fff;
}
.icon-close:before {
  content: "\e902";
  color: #fff;
}
.icon-delete:before {
  content: "\e903";
  color: #fff;
}
.icon-favorite:before {
  content: "\e904";
  color: #d81e06;
}
.icon-loop:before {
  content: "\e905";
  color: #fff;
}
.icon-next:before {
  content: "\e906";
  color: #fff;
}
.icon-not-favorite-gray:before {
  content: "\e907";
  color: #666;
}
.icon-not-favorite:before {
  content: "\e908";
  color: #fff;
}
.icon-pause-mini:before {
  content: "\e909";
  color: #fff;
}
.icon-pause:before {
  content: "\e90a";
  color: #fff;
}
.icon-play-mini:before {
  content: "\e90b";
  color: #fff;
}
.icon-play:before {
  content: "\e90c";
  color: #fff;
}
.icon-playlist:before {
  content: "\e90d";
  color: #fff;
}
.icon-prev:before {
  content: "\e90e";
  color: #fff;
}
.icon-random:before {
  content: "\e90f";
  color: #fff;
}
.icon-search:before {
  content: "\e910";
  color: #fff;
}
.icon-sequence:before {
  content: "\e911";
  color: #fff;
}
