@font-face {
  font-family: 'icon';
  src:  url('../fonts/icon.eot?9f1yyw');
  src:  url('../fonts/icon.eot?9f1yyw#iefix') format('embedded-opentype'),
    url('../fonts/icon.ttf?9f1yyw') format('truetype'),
    url('../fonts/icon.woff?9f1yyw') format('woff'),
    url('../fonts/icon.svg?9f1yyw#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-playlist:before {
  content: "\e90b";
  color: #69f;
}
.icon-back:before {
  content: "\e900";
  color: #69f;
}
.icon-close:before {
  content: "\e901";
  color: #87cad8;
}
.icon-delete:before {
  content: "\e902";
  color: #87cad8;
}
.icon-favorite:before {
  content: "\e903";
  color: #d81e06;
}
.icon-loop:before {
  content: "\e904";
  color: #87cad8;
}
.icon-next:before {
  content: "\e905";
  color: #87cad8;
}
.icon-not-favorite:before {
  content: "\e906";
  color: #87cad8;
}
.icon-pause-mini:before {
  content: "\e907";
  color: #69f;
}
.icon-pause:before {
  content: "\e908";
  color: #87cad8;
}
.icon-play-mini:before {
  content: "\e909";
  color: #69f;
}
.icon-play:before {
  content: "\e90a";
  color: #87cad8;
}
.icon-prev:before {
  content: "\e90c";
  color: #87cad8;
}
.icon-random:before {
  content: "\e90d";
  color: #87cad8;
}
.icon-sequence:before {
  content: "\e90e";
  color: #87cad8;
}
